################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AWEPP/.vs
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfo.cs
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfoInputs.cache
/AWEPP/.vs/AWEPP/v17/.futdcache.v2
/AWEPP/.vs/AWEPP/v17/.suo
/AWEPP/.vs/AWEPP/v17/DocumentLayout.json
/AWEPP/.vs/ProjectEvaluation/awepp.metadata.v9.bin
/AWEPP/.vs/ProjectEvaluation/awepp.projects.v9.bin
/AWEPP_/.vs/AWEPP/v17
/AWEPP_/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfo.cs
/AWEPP_/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfoInputs.cache
/AWEPP_/AWEPP/obj/Debug/net8.0/AWEPP.assets.cache
/AWEPP_/AWEPP/obj/Debug/net8.0/AWEPP.GeneratedMSBuildEditorConfig.editorconfig
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.AssemblyInfoInputs.cache
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.AssemblyInfo.cs
/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfo.cs
/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfoInputs.cache
/AWEPP_/.vs/AWEPP/FileContentIndex/2c04d639-4fc1-4dec-9075-d91f0cf0edc6.vsidx
/AWEPP_/.vs/AWEPP/FileContentIndex/2fe9af38-d95c-46b9-b696-79a8e36fbe3a.vsidx
*.vsidx
/AWEPP_/.vs/AWEPP/FileContentIndex/7ae13854-0471-4d49-b7cf-07ada02d8bc5.vsidx
/AWEPP_/.vs/AWEPP/FileContentIndex/bded205c-6406-4b55-8099-1d8110c560d9.vsidx
/AWEPP_/AWEPP/.vs/AWEPP/v17/.suo
/AWEPP_/AWEPP/.vs/AWEPP/v17/.wsuo
/AWEPP_/.vs/AWEPP/DesignTimeBuild/.dtbcache.v2
/AWEPP_/.vs/ProjectEvaluation/awepp.metadata.v7.bin
/AWEPP_/.vs/ProjectEvaluation/awepp.projects.v7.bin
/AWEPP_/.vs/AWEPP/FileContentIndex/ed490ede-4034-472b-9c09-fc3426b2d4bc.vsidx
/AWEPP_/.vs/ProjectEvaluation/awepp.metadata.v7.bin
/AWEPP_/.vs/ProjectEvaluation/awepp.projects.v7.bin
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.assets.cache
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.GeneratedMSBuildEditorConfig.editorconfig
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.assets.cache
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.GeneratedMSBuildEditorConfig.editorconfig
/AWEPP_/.vs/AWEPP/DesignTimeBuild/.dtbcache.v2
/AWEPP_/AWEPP/obj/AWEPP.csproj.nuget.dgspec.json
/AWEPP_/AWEPP/obj/project.nuget.cache
/AWEPP_/AWEPP/obj/Debug/net8.0/AWEPP.csproj.CoreCompileInputs.cache
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.assets.cache
/AWEPP/AWEPP/obj
/AWEPP_/.vs/AWEPP/v17/.wsuo
/AWEPP_/AWEPP/obj/AWEPP.csproj.nuget.g.props
/AWEPP_/AWEPP/obj/project.assets.json
/AWEPP_/AWEPP/obj/AWEPP.csproj.nuget.dgspec.json
/AWEPP_/AWEPP/obj/AWEPP.csproj.nuget.g.props
/AWEPP_/AWEPP/obj/project.assets.json
/AWEPP_/AWEPP/obj/project.nuget.cache
/AWEPP_/AWEPP/obj/Release/net8.0
/AWEPP_/.vs/AWEPP/config/applicationhost.config
/AWEPP_/AWEPP/bin/Release/net8.0
/AWEPP_/AWEPP/obj/Debug/net8.0/AWEPP.csproj.AssemblyReference.cache
/AWEPP_/AWEPP/obj/Release/net8.0/AWEPP.csproj.AssemblyReference.cache
/AWEPP_/obj/Debug/net8.0
/AWEPP_/obj/Release/net8.0
/AWEPP_/AWEPP/obj
/AWEPP_/AWEPP/.vs/AWEPP /v17
/AWEPP_/obj/Debug/.AssemblyReference.cache
/AWEPP_/.vs/ProjectEvaluation/awepp.metadata.v7.bin
/AWEPP_/.vs/ProjectEvaluation/awepp.projects.v7.bin
