################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/AWEPP/.vs/ProjectEvaluation/awepp.metadata.v9.bin
/AWEPP/.vs/ProjectEvaluation/awepp.metadata.v9.bin
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.csproj.AssemblyReference.cache
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfo.cs
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfoInputs.cache
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.assets.cache
*.wsuo
/.vs
/AWEPP/.vs/AWEPP/DesignTimeBuild/.dtbcache.v2
/AWEPP/.vs/AWEPP/FileContentIndex/2c04d639-4fc1-4dec-9075-d91f0cf0edc6.vsidx
/AWEPP/.vs/AWEPP/FileContentIndex/2fe9af38-d95c-46b9-b696-79a8e36fbe3a.vsidx
/AWEPP/.vs/AWEPP/FileContentIndex/7ae13854-0471-4d49-b7cf-07ada02d8bc5.vsidx
/AWEPP/.vs/AWEPP/FileContentIndex/bded205c-6406-4b55-8099-1d8110c560d9.vsidx
/AWEPP/.vs/AWEPP/FileContentIndex/ed490ede-4034-472b-9c09-fc3426b2d4bc.vsidx
/AWEPP/.vs/AWEPP/v17/.suo
/AWEPP/.vs/AWEPP/v17/.futdcache.v2
/AWEPP/.vs/AWEPP/v17/DocumentLayout.json
*.bin
/AWEPP/.vs/ProjectEvaluation/awepp.projects.v9.bin
/AWEPP/AWEPP/Migrations/20240925163401_initial.cs
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.GeneratedMSBuildEditorConfig.editorconfig
/AWEPP/AWEPP/obj/AWEPP.csproj.nuget.dgspec.json
/AWEPP/AWEPP/obj/AWEPP.csproj.nuget.g.props
/AWEPP/AWEPP/obj/project.assets.json
/AWEPP/AWEPP/obj/project.nuget.cache
