################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWEPP/.vs/AWEPP/FileContentIndex/25d33682-5e2f-4e98-b912-3904b0cd348e.vsidx
/AWEPP/.vs/AWEPP/FileContentIndex
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfo.cs
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.AssemblyInfoInputs.cache
*.bin
/.gitignore
/.gitignore
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.assets.cache
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.csproj.AssemblyReference.cache
/AWEPP/AWEPP/obj/Debug/net8.0/AWEPP.GeneratedMSBuildEditorConfig.editorconfig
/.gitignore
/.vs/AWEPP_1/v17/.wsuo
/.vs/VSWorkspaceState.json
/AWEPP/.vs/AWEPP/DesignTimeBuild/.dtbcache.v2
