.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-button, .register-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7b5cf1;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover, .register-button:hover {
  background-color: #6b4bd7;
}

.register-button {
  background-color: #f1a951; /* Color distinto para el botón de registrarse */
}
/* Agregar margen entre los botones */
.btn-registrarse {
  background-color: #4CAF50; /* Color verde para registrarse */
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3rem; /* Espacio entre los botones */
}

.btn-registrarse:hover {
  background-color: #388E3C; /* Cambiar el color al pasar el mouse */
}

