/* Contenedor principal de la página de registro */
.register-page-container {
  display: flex;
  height: 100vh;
}


/* Sección del formulario de registro */
.register-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/* Contenedor del formulario */
.register-container {
  width: 90%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Sección de fondo degradado */
.background-section {
  width: 50%;
  background: linear-gradient(135deg, #00ff44, #01ffcc, #00ff44); /* Degradado verde */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none; 
}


.btn-register {
  width: 100%;
  padding: 10px;
  background-color: #00ff44;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-register:hover {
  background-color: #01ffcc;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
.input-field {
  margin-bottom: 1rem; 
}

.buttons {
  display: flex;
  gap: 1rem; 
  justify-content: center; 
}
.background-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.background-section img {
  max-width: 60%; 
  height: auto;
  margin: 1.5rem 0; 
}

.background-section p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-direction: column;
}

.form-group-checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.tooltip {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.9em;
  margin-top: 5px;
  border: 1px solid #f5c6cb;
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
}
.tooltip::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f8d7da transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
  max-height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow-y: auto;
}

.modal-content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.modal-content h3 {
  font-size: 1.2em;
  margin-top: 15px;
  color: #333;
}

.modal-content p {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
}

.btn-close {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-close:hover {
  background-color: #01ffcc;
}
